# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
local_settings.py
db.sqlite3

# Database migrations
myapp/migrations/

# Database backup
*.sql

# Environments
.env
.venv
env/
venv/

# Visual Studio
.vscode/

# Media files
media/
