.dotred {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }

.dotgreen {
    height: 25px;
    width: 25px;
    background-color: #32CD32;
    border-radius: 50%;
    display: inline-block;
  }